@font-face {
	font-family: 'delitefont';
	src:url('fonts/delitefont.eot');
	src:url('fonts/delitefont.eot') format('embedded-opentype'),
	url('fonts/delitefont.woff') format('woff'),
	url('fonts/delitefont.ttf') format('truetype'),
	url('fonts/delitefont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* App style */
* {
	font-family: sans-serif;
}

.d-list {
	border: none;
}

.pageHeader, .pageFooter{
	background-color: #efefef;
	color: black;
}

.pageHeader {
	border-bottom: 2px solid black;
	padding: 0.3em;
	height: 60px;
}

.pageFooter {
	border-top: 2px solid black;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

.pageFooter > div {
	text-align: center;
}

.appButton, .appButton2 {
	border: none;
	background-color: white;
	font-weight: bold;
	min-width: 50px;
	cursor: pointer;
	padding: 10px 10px 10px 10px;
	font-size: 110%;
}

.appButton2 {
	background-color: #1AA1E1;
	color: white;
	margin: 0 30% 0 30%;
}

.titleStyle {
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	font-weight: bold;
	font-size: 150%;
	/* One line title with ellipsis if needed */
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
}

.d-side-pane {
	border-right: 1px solid #000000;
}

.d-button.menuButton {
	padding: 0px;
	font-size: x-large;
	color: #5a5a5a;
	font-family: delitefont;
}
.d-button.menuButton span {
	margin-top: -3px;
}

.menu {
	color: black;
	border-bottom-color: darkgray;
	border-bottom-style: solid;
	border-bottom-width: thin;
	padding: 15px;
}
.menuHeader {
	background-color: rgb(213, 212, 212);
}
.menuBg {
	background-color: rgb(247, 247, 247);
}
.selected {
	background-color: rgb(152, 181, 241);
}

.statusText {
	margin-left: 20px;
}

.statusHeaderText {
	margin-left: 20px;
	font-size:0.8em;
	padding-top:10px;
}
.storage {
	width:200px;
}

.syncIndicator {
	width: 20px;
	height:20px;
	margin-top:10px;
	margin-left:3px;
}

.d-toaster-type-success {
	border-color: #97C274;
}

.fileIcon {
	padding-top:10px;
}
.fileIcon:before {
	background-image: url('file_folder.png');
	width: 40px;
	height: 40px;
	display:inline-block;
	background-size: contain;
	content: "";
}