.d-checkbox {
	position: relative;
	.d-checkbox-styles();
	&.d-focused { // from tab-focus()
		.d-checkbox-focused();
	}
	&::before {
		.d-checkbox-before-styles();
		overflow: hidden;
		display: inline-block;
		position:absolute;
		top:0px;
		content:"";
	}
	&.d-rtl::before {
		right: 0px;
	}
	&.d-checked::before {
		.d-checkbox-checked-before-styles();
		content: "\2714";
	}
	&:active::before {
		.d-checkbox-active-styles();
	}
	&.d-disabled {
		color: @d-checkbox-disabled-color;
		&::before {
			.d-checkbox-before-disabled-styles();
		}
	}
	&.d-disabled,
	fieldset[disabled] & {
		cursor: not-allowed;
	}
}

.d-checkbox > input[type=checkbox] {
	.d-checkbox-input-styles();
	opacity: 0.01;
	position: relative;
	overflow: hidden;
	font: inherit;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	&[disabled],
	fieldset[disabled] & {
		cursor: not-allowed;
	}
}
